In [0]:
#df1 = spark.read.format("csv").option("header", "true").load("dbfs:/FileStore/shared_uploads/ade.viswanath@hotmail.com/Customer.csv")

df=spark.read.csv("dbfs:/FileStore/shared_uploads/ade.viswanath@hotmail.com/Customer.csv", header=True , inferSchema=True)
df.printSchema()

root
 |-- S.No: integer (nullable = true)
 |-- Title: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Middle Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Number1: integer (nullable = true)
 |-- Number2: integer (nullable = true)

In [0]:
df.show(3)

+----+-----+----------+-----------+---------+------+-------+-------+
|S.No|Title|First Name|Middle Name|Last Name|Gender|Number1|Number2|
+----+-----+----------+-----------+---------+------+-------+-------+
|   1|   Mr|       ABC|        DSA|      SDA|     M|      1|      6|
|   2|  Mrs|       DAS|        SDA|      SAD|     F|      2|      7|
|   3|   Mr|       REW|        FSD|      FSD|     M|      3|      8|
+----+-----+----------+-----------+---------+------+-------+-------+
only showing top 3 rows

In [0]:
display(df)

S.No,Title,First Name,Middle Name,Last Name,Gender,Number1,Number2
1,Mr,ABC,DSA,SDA,M,1,6
2,Mrs,DAS,SDA,SAD,F,2,7
3,Mr,REW,FSD,FSD,M,3,8
4,Dr,FSD,FDG,YRT,F,4,9
5,Sr,CVX,FSD,DSF,M,5,10

In [0]:
from pyspark.sql.functions import column
df.columns

Out[14]: ['S.No',
 'Title',
 'First Name',
 'Middle Name',
 'Last Name',
 'Gender',
 'Number1',
 'Number2']

In [0]:
df.first()

Out[19]: Row(S.No=1, Title='Mr', First Name='ABC', Middle Name='DSA', Last Name='SDA', Gender='M', Number1=1, Number2=6)

In [0]:
#Create DataFrame and Rows manually

from pyspark.sql import Row

row1=Row('Viswanath',32,'Male')
row2=Row('Prasanna', 32,'Female')

createSchema='Name string, Age integer, Gender string'

df2=spark.createDataFrame([row1, row2], createSchema)
df2.show()

+---------+---+------+
|     Name|Age|Gender|
+---------+---+------+
|Viswanath| 32|  Male|
| Prasanna| 32|Female|
+---------+---+------+

In [0]:
df2.collect()

Out[27]: [Row(Name='Viswanath', Age=32, Gender='Male'),
 Row(Name='Prasanna', Age=32, Gender='Female')]

In [0]:
#Select function -- I will show the selected row's data

from pyspark.sql.functions import expr, col
df3=df2.select("Name", "Age")
df3.show()

+---------+---+
|     Name|Age|
+---------+---+
|Viswanath| 32|
| Prasanna| 32|
+---------+---+

In [0]:
#Literals Function - lit() = used to add a new constant column to DataFrame by assigning a literal or constant value

from pyspark.sql.functions import lit

df3.select(expr("*"), lit(1).alias("RollNo")).show(2)
df3.select(expr("*"), lit(2).alias("RollNo")).show(2)
df3.select(expr("*"), lit(3).alias("RollNo")).show(2)

+---------+---+------+
|     Name|Age|RollNo|
+---------+---+------+
|Viswanath| 32|     1|
| Prasanna| 32|     1|
+---------+---+------+

+---------+---+------+
|     Name|Age|RollNo|
+---------+---+------+
|Viswanath| 32|     2|
| Prasanna| 32|     2|
+---------+---+------+

+---------+---+------+
|     Name|Age|RollNo|
+---------+---+------+
|Viswanath| 32|     3|
| Prasanna| 32|     3|
+---------+---+------+

In [0]:
from pyspark.sql.functions import lit

#df4 = df3.withColumn("AddedColumn", lit(1)) #withColumn Function -(Line 6) Will add new column into existing table
#df4 = df3.withColumn("withinCountry", expr("Name == 'Viswanath'")) #withColumn Function - (Line 7) Adding new column with expression like true or false (It will validate with column and equal to row data)
#df4 = df3.withColumn("Age",col("Age").cast("integer")) #withColumn Function - (Line 9) Changing the Datatype for a particular column
#df4 = df3.withColumn("Age",col("Age")+2) # Will update age=existing+2 eg., 32+2=34. Will use different values like addition, substraction, multiply etc
df4 = df3.withColumnRenamed("Birth","Age") # Will rename the column name with existing one 1st Param - Existing & 2nd Param - Updated


#df4.columns
df4.show()
#df4.printSchema()

+---------+---+
|     Name|Age|
+---------+---+
|Viswanath| 32|
| Prasanna| 32|
+---------+---+

In [0]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit
from pyspark.sql.types import StructType, StructField, StringType,IntegerType

spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

data = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]

columns = ["firstname","middlename","lastname","dob","gender","salary"]
#df = spark.createDataFrame(data, columns)

#df4 = df.withColumn("CopiedColumn",col("salary")* -1)


df.drop("CopiedColumn")
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)